.portfolio {
  background-image: url("../../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 100px 50px 100px;
    @media screen and (max-width: 659px) {
      padding: 75px 16px 50px 16px;
    }
  }
  &__img {
    width: -webkit-fill-available;
    margin-bottom: 50px;
    @media screen and (max-width: 659px) {
      margin-bottom: 24px;
    }
  }
  &__name {
    color: black;
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    text-decoration: underline solid black 1px;
    text-underline-offset: 10px;
    @media screen and (max-width: 659px) {
      font-size: 17px;
    }
  }
  &__table {
    margin-bottom: 24px;
  }
}
