.main {
  background-image: url("../../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 20px 20px;

  &__content {
    margin: 180px auto 0 auto;
    max-width: 1400px;
    padding: 0 100px;
    @media screen and (max-width: 987px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 525px) {
      padding: 0 30px;
    }
    @media screen and (max-width: 414px) {
      padding: 0 16px;
    }
    @media screen and (max-width: 320px) {
      padding: 0 10px;
    }
  }

  &__title {
    font-size: 195px;
    font-weight: 100;
    letter-spacing: 0.25em;
    text-align: center;
    color: #eda424;
    text-transform: uppercase;
    max-width: 1400px;
    font-family: "Hoves thin";

    @media (max-width: 1350px) {
      font-size: 180px;
    }
    @media (max-width: 1276px) {
      font-size: 150px;
    }
    @media (max-width: 1072px) {
      font-size: 120px;
    }
    @media (max-width: 881px) {
      font-size: 110px;
    }
    @media (max-width: 842px) {
      font-size: 100px;
    }
    @media (max-width: 761px) {
      font-size: 80px;
    }
    @media (max-width: 659px) {
      font-size: 70px;
    }
    @media (max-width: 525px) {
      font-size: 60px;
    }
    @media (max-width: 414px) {
      font-size: 50px;
    }
  }
  &__subtitle {
    color: #a5a5a5;
    font-size: 30px;
    text-transform: uppercase;
    @media (max-width: 414px) {
      font-size: 20px;
    }
  }
  &__year {
    color: #a5a5a5;
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 211px;
    padding-bottom: 50px;
  }
}
