.contact {
  height: 543px;
  background-image: url("../../assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    height: 400px;
  }
  @media screen and (max-width: 525px) {
    height: 300px;
  }
  @media screen and (max-width: 414px) {
    height: 200px;
  }

  &__button {
    font-size: 10vh;
    font-family: "Hoves thin";
    text-align: center;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #1a1b1d;
    border-radius: 5px;
    margin: 0 100px;
    width: 50%;
    height: 23vh;
    cursor: pointer;

    &:hover {
      color: #a5a5a5;
      border: 2px solid #a5a5a5;
    }
    &:active {
      color: #d28d0c;
      border: 2px solid #d28d0c;
    }
    @media screen and (max-width: 768px) {
      font-size: 8vh;
      width: 70%;
      height: 150px;
      margin: 0 50px;
    }
    @media screen and (max-width: 525px) {
      font-size: 6vh;
      width: 80%;
      height: 100px;
      margin: 0 30px;
    }

    &:hover {
      color: #a5a5a5;
      border: 2px solid #a5a5a5;
    }
    &:active {
      color: #d28d0c;
      border: 2px solid #d28d0c;
    }
  }
}
