@font-face {
  font-family: "Hoves";
  src: url("./assets/fonts/TT Hoves Pro Trial Regular.ttf");
}
body {
  margin: 0;
  font-family: "Hoves";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
